* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #fff;
    background:#161b2b;
}

.header {
    display: flex;
    text-align: center;
    /* background-color: #ffffff; */
}

.header .title h1 {
}